#bootstrap-override{
	background-color: black;
	font-family: 'Bahiana', cursive;
	color: white;
}

#bootstrap-override input{
	margin-left: auto;
	margin-right: auto;
	margin-top: -15px;
	width: 50%;
	
}

#quit{
	margin:auto;
}

#templatecontainer{
	margin: auto;
	width: 60%;
	text-align: center;
	font-size: 22px;
}

ul{
	list-style-type: none;
	padding:0;
}


.pagetitle{
	margin: auto;
	width: 90%;
}

.instructions{
	border: 2px solid red;
	padding: 10px;
}

button{
	margin-bottom: 50px;
	background-color: white;
	color: red;
	border: none;
	padding: 10px;
}

.lockbtn{
	margin: 20px;
	padding: 20px;
}

.clicked{
		background-color: red;
		color: black;
}

.displayvotes{
	margin-left: 5px;
}