<div id="wolf"></div>
<div class="instructions">
<p>A new day has dawned!</p>
<p id="nightresults"></p>
<p>Who's the werewolf? Vote to hang another player, or if you don't want to vote, just press the Lock In button</p>
</div>
<div id="votebuttons">
	{{#players}}
		<button id="{{name}}" class="vote" value="{{name}}" onclick="vote(this.value)">{{name}}</button><br>
	{{/players}}
</div>
<button id="votelocker" class="lockbtn" onclick="lockVote()">Lock In</button>
<input type="hidden" id="clicked" value="">