<p>Who do you want to save tonight, doctor? Choose a player, and if the werewolves try to kill him or her, you'll save that player's life!</p>
{{#players}}
	<button value="{{name}}" onclick="docSave(this.value)">{{name}}</button><br>
{{/players}}