<div id="sheriff">
	<p class="instructions">Who do you want to investigate? Pick a player and find out if he or she is a werewolf!</p>
	{{#players}}
	<button value="{{name}}" onclick="sherPick(this.value)">{{name}}</button><br>
	{{/players}}
</div>
